<!DOCTYPE html5>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <div class="registration-cssave">
        <form class="form-main">
            <div class="mmenu">
            <button class="btn btn_mm margin-f" type="button" onclick="location='/vihod'">Выйти</button>
            <button class="btn btn_mm" type="button" onclick="location='/menu'">Вернуться назад</button>
            <button  class="btn btn_mm margin-f" type="button" onclick="location='/menu/ChoiceTest/demoversion?disc_id=<%= disc_id %>'">Пробный тест</button>
            <button class="btn btn_mm" type="button" onclick="location='/menu/ChoiceTest/ekzamen?disc_id=<%= disc_id %>'">Экзаменационный тест</button>
        </div>
        </form>
    </div>
    </body>
</html>
